
/*---------Common CSS---------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin-left: 8%;
    margin-right: 8%;
}

.btn{
    text-decoration: none;
    padding: 24px 50px;
    text-align: center;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    font-size: 16px;
    color: #fff;
}

.btn:hover{
    background: linear-gradient(88.33deg, #e77408 -7.64%, #ecb4b4 145.94%);
}


/*------------Nav CSS--------------------*/


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(243, 115, 10, 0.781);
    height: 80px;
    top: 0;
    position: sticky;
}
.logo{
    color: #e2ddd7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: #e2ddd7;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    padding: 10px 30px;
    transition: .5s;
}

.nav-links a:hover{
    color: black;
    border-radius: 10px;
    background-color: rgba(243, 142, 10, 0.781);
    box-shadow: 0 0 3px 3px #F0F0F0;
}

/*----------Header CSS------------------------*/


#header{
    padding-top: 50px;
    margin-bottom: 10%;
}


.header-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text-col{
    flex-basis: 50%;
}

.header-text-col h1{
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    line-height: 130%;
    color: #575757;
}
 span{
    color: #f09a45;
}

.header-text-col p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #828282;
    letter-spacing: -0.02em;
    margin: 50px 0;
    padding-bottom: 30px;
}

.header-img-col{
    flex-basis: 50%;
}

.header-img-col img{
    width: 100%;
    
}


/*----------About Section CSS----------*/


#about{
    background: url(./images/7.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: 100px;
}

.about-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img-col{
    flex-basis: 40%;
}

.about-img-col img{
    width: 80%;
    padding-top: 100px;
}

.about-text-col{
    flex-basis: 50%;
    padding-top: 50px;
    padding-left: 80px;
}

.about-text-col h1{
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: 130%;
    color: #575757;
}

.about-text-col p{
    margin-top: 50px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
}


/*--------------recipies CSS--------------------*/

#recipies{
    margin-bottom: 100px;
}
.rec-heading{
    text-align: center;
}
.rec-heading h1{
    font-size: 40px;
    font-weight: bold;
    color: #575757;
    margin-bottom: 50px;
}
.rec-heading p{
    font-size: 20px;
    margin: 50px;
}
.recipies-row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.recipies-col{
    flex-basis: 25%;
    text-align: center;
    padding: 40px 0;
    border-radius: 40px;
    box-shadow: 0 0 5px 5px #F0F0F0;
}
.recipies-col img{
    width: 80%;
}
.title{
    text-align: center;
    margin-top: 50px;
    padding: 0 40px;
}
.title h1{
    margin-bottom: 20px;
    font-size: 30px;
}
.title p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: -0.02em;
}


/*------------live Count CSS-------------------*/


#live-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #F0F0F0;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0 150px;
    height: 200px;
    margin-bottom: 100px;
}
.count{
    text-align: center;
    padding-top: 50px;
}
.count h1{
    font-size: 60px;
}
.count p{
    font-size: 16px;
    margin: 20px 0;
}


/*------------footer CSS-----------*/


footer{
    width: 100%;
    background-color: black;
    height: 200px;
    text-align: center;
    
}

footer h1{
     color: #5B5B5B;
     margin-bottom: 20px;
     padding-top: 40px;
     font-size: 30px;
}

footer p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}