*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-----Nav CSS-------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #db7d3e;
    height: 80px;
}
.logo{
    color: #e2ddd7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: #e2ddd7;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

/*----------Header CSS-----------*/


#header{
    padding-top: 50px;
    margin-bottom: 10%;
}

.container{
    margin-left: 8%;
    margin-right: 8%;
}

.header-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text-col{
    flex-basis: 50%;
}

.header-text-col h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    line-height: 130%;
    color: #575757;
}
.header-text-col span{
    color: #f09a45;
}

.header-text-col p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #828282;
    letter-spacing: -0.02em;
    margin: 50px 0;
    padding-bottom: 30px;
}

.header-img-col{
    flex-basis: 50%;
}

.header-img-col img{
    width: 100%;
    
}

/*---------Common CSS-------*/


.btn{
    text-decoration: none;
    padding: 24px 50px;
    text-align: center;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
    border-radius: 100px;
    font-size: 16px;
    color: #fff;
}


/*----------About Section CSS----------*/

#about{
    background: url(./images/7.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: 100px;
}

.about-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img-col{
    flex-basis: 40%;
}

.about-img-col img{
    width: 80%;
    padding-top: 100px;
}

.about-text-col{
    flex-basis: 50%;
    padding-top: 50px;
    padding-left: 80px;
}

.about-text-col h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    line-height: 130%;
    color: #575757;
}

.about-text-col p{
    margin-top: 50px;
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.02em;
}

#recipies{
    margin-bottom: 100px;
}
.rec-heading{
    text-align: center;
}
.recipies-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.recipies-col{
    flex-basis: 25%;
    text-align: center;
    padding: 30px 0;
    border: 1px solid black;
}
.recipies-col img{
    width: 80%;
}
.title{
    text-align: left;
    margin-top: 20px;
    margin-left: 45px;
}
.title h1{

}