*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*-----Nav CSS-------*/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #db7d3e;
    height: 80px;
}
.logo{
    color: #e2ddd7;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: #e2ddd7;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

/*----------Header CSS-----------*/


#header{
    padding-top: 25px;
}
.flexible-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.text-col{
    flex-basis: 50%;
    margin-left: 50px;
}
.text-col h1{
    font-size: 30px;
    line-height: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    color: #575757;
}
.text-col span{
    color: #f09a45;
}
.text-col p{
    font-size: 11px;
    line-height: 20px;
    color: #828282;
    margin-bottom: 40px;
}
.img-col{
    flex-basis: 50%;
    
}
.img-col .header-img{
    width: 50%;
    
}

/*---------Common Button CSS-------*/


.btn{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(#FFA500, #ff6347);
    border-radius: 25px;
    font-size: 14px;
    color: #fff;
}

/*----------About Section CSS----------*/

#about{
    background: url(images/7.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    
}
.img-col .about-img{
    
    width: 240px;
    height: 370px;
}